<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.basicpj.repository.PostRepository">

    <!--    저장-->
    <insert id="save" parameterType="org.example.basicpj.domain.Post">
        INSERT INTO post (title, writer, content)
        VALUES (#{title}, #{writer}, #{content})
    </insert>

    <!-- 전체 조회-->
    <select id="getPostsByPage" resultType="org.example.basicpj.domain.Post">
        SELECT id,
                title,
                writer,
                content,
                created_at AS createdAt
        FROM post
        ORDER BY id DESC
        LIMIT #{size} OFFSET #{offset}

    </select>

    <!-- 전체 게시물 수 조회용 -->
    <select id="getPostCount" resultType="int">
        SELECT COUNT(*)
        FROM post
    </select>

</mapper>